* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}

nav h1 {
    font-family: "Epilogue", serif;
    font-size: 20px;
    font-weight: 600;

}

.nav-links p {
    font-family: "Epilogue", serif;
    font-size: 17px;
    color: #2D2D2D;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    height: 624px;
    align-items: center;
}

.section-1-text {

    margin-left: 100px;
}

.section-1-text .p1 {
    font-family: "Epilogue", serif;
    font-size: 20px;
    font-weight: 600;
    color: #2D2D2D;
}

.section-1-text h1 {
    margin-top: 40px;
    font-family: "Epilogue", serif;
    font-size: 80px;
}

.section-1-text .p2 {

}

.section-1 img {
}

.section-2-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-2-img-text {
    margin-top: 56px;
}

.section-2-img-text h1 {
    font-family: "Epilogue", serif;
    font-size: 27px;
    font-weight: 600;
    color: #2D2D2D;
}

.section-2-img-text p {
    margin-top: 19px;
    font-family: "Epilogue", serif;
    font-size: 17px;
}

.section-2 {
    padding: 180px 140px;
    display: flex;
    justify-content: space-around;
    gap: 125px;
}

.section-3 h1 {
    text-align: center;
    font-family: "Epilogue", serif;
    font-size: 32px;
    font-weight: 600;
    color: #2D2D2D;
    padding-bottom: 60px;
}

.section-3-text {
    margin: auto;

}

.section-3-img {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
}

.section-3-img-text {
    display: flex;
    flex-direction: column;

}

.section-3-img-text h2 {
    padding-top: 25px;
    font-family: "Epilogue", serif;
    font-size: 20px;
    font-weight: 600;
    color: #2D2D2D;
}

.section-3-img-text p {
    margin-top: 10px;
    font-family: "Epilogue", serif;
    font-size: 17px;
    color: #2D2D2D;
}

footer {
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 100px;
    border-top: 1px solid #2D2D2D;
    display: flex;
    gap: 190px;
    justify-content: space-between;

}

.footer-content {
    margin-top: 70px;
    width: 360px;
}

.footer-content h1 {
    font-family: "Epilogue", serif;
    font-size: 32px;
    font-weight: 600;
    color: #2D2D2D;
}

.footer-content p {
    padding-top: 40px;
    font-family: "Epilogue", serif;
    font-size: 17px;
    color: #2D2D2D;
}

.footer-content-icon {
    margin-top: 60px;
}

form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 70px;

}

form input {
    padding-left: 30px;
    width: 530px;
    height: 69px;
    font-family: "Epilogue", serif;
    background-color: #F3F3F3;
    border: none;
}

form textarea {
    padding-left: 30px;
    padding-top: 20px;
    width: 530px;
    font-family: "Epilogue", serif;
    background-color: #F3F3F3;
    border: none;
    resize: none;
    height: 231px;

}

form input::placeholder {
    color: #2D2D2D;
    font-size: 18px;

}

form textarea::placeholder {
    color: #2D2D2D;
    font-size: 18px;

}

form button {
    margin-top: 30px;
    width: 235px;
    height: 80px;
    color: #FFFFFF;
    background-color: #2D2D2D;
    font-family: "Epilogue", serif;
    font-size: 20px;
    font-weight: 600;
}

.nav-links .menu-mobile-img {
    display: none;
}

.br-mobile {
    display: none;
}

.nav-links .menu-desktop {
    display: flex;
    gap: 50px;
    padding-right: 50px;
}

.p2-mobile {
    display: none;
}

@media screen and (max-width: 400px) {

    .nav-links .menu-mobile-img {
        display: block;
        margin-right: 50px;

    }

    .nav-links .menu-desktop {
        display: none;
    }

    nav {

    }


    .section-1 {
        flex-direction: column;
        text-align: center;
    }

    .section-1-text {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-1-text .p1 {
        font-family: "Epilogue", serif;
        font-size: 20px;
        font-weight: 600;
        color: #2D2D2D;
    }

    .section-1-text h1 {
        margin-top: 24px;
        font-family: "Epilogue", serif;
        font-size: 48px;
        font-weight: 600;

    }

    .section-1-text .p2 {
        display: none;
    }

    .p2-mobile {
        margin-top: 20px;
        display: block;
        font-family: "Epilogue", serif;
        font-size: 17px;
        color: #2D2D2D;
    }

    .section-1 img {
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
        width: 315px;
        height: 269px;
    }

    .section-2 {
        padding: 126px 62px;
        display: flex;
        flex-direction: column;
    }

    .section-3-img {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;

    }

    .section-3-img-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

    }

    .section-3-img {
        display: flex;
        flex-direction: column;

    }

    .section-3-img-text p {
        margin-top: 20px;

    }

    footer {
        margin-left: 30px;
        margin-top: 0;
        margin-right: 30px;
        border-top: 1px solid #2D2D2D;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 70px;

    }

    .footer-content h1 {
        padding-top: 70px;
        font-family: "Epilogue", serif;
        font-size: 32px;
        color: #2D2D2D;
    }

    .footer-content p {
        padding-top: 40px;
        font-family: "Epilogue", serif;
        font-size: 17px;
        color: #2D2D2D;

    }

    .footer-content {
        width: 100%;
    }


    .br-mobile {
        display: inline;
    }


    form {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }

    form input {
        width: 100%;
    }

    form textarea {
        width: 100%;
    }


}